<div class="maincontent">
  <article class="article">
    <h1 class="article-title">xxx</h1>
     xxx
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">xxx</h1>
    xxx
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">xxx</h1>
    xxx
  </article><!-- article -->
</div>
