<footer class="footer-distributed">
        <div class="footer-left">
          <ul class="footer-links">
           <li><a href="#">关于我们</a></li>
           <li><a href="#">留学咨讯</a></li>
           <li><a href="#">联系我们</a></li>
           <li><a href="#">成功案例</a></li>
          </ul>
        </div>
  
        <div class="footer-center">
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span>地图</span></p>
          </div>
  
          <div>
            <i class="fa fa-phone"></i>
            <p>+2173728660</p>
          </div>
  
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:liuxue_oakleafage@gmail.com">liuxue_oakleafage@gmail.com</a></p>
          </div>
        </div>
  
        <div class="footer-right">
         <p class="footer-company-about">
            <span>About the company</span>
         </p>
         <div class="footer-icons">
           <a href="#"><i class="fa fa-facebook"></i></a>
           <a href="#"><i class="fa fa-twitter"></i></a>
           <a href="#"><i class="fa fa-linkedin"></i></a>
           <a href="#"><i class="fa fa-github"></i></a>
         </div>
        </div>    
</footer>
<div class="footer">&copy Oakleafage.com 2018  |   <a href="/privacy">Privacy Statement</a>   |  <a href="/termofuse">Terms of Use</a></div>
