<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  
  <body id="<%= pageID %>">
    <header>
      <!-- smiling lady picture
      <div class="jumbotron hidden-xs">
      </div>
      -->
    </header>
   
    <% include sliderShow.ejs %>
    <% include partials/content/serviceslist.ejs %>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
        <% include partials/content/maincontent.ejs %>
        </div><!-- primary -->
        <aside class="col-sm-4">
          <% include partials/content/whoshouldcome.ejs %>
          <% include partials/content/schoollist.ejs %>
        </aside><!-- secondary -->
      </div>
    </div>
    <!-- container -->
    <% include partials/template/jsdefaults.ejs %>
    <!-- navigation bar -->
    <% include partials/template/header.ejs %>
    <% include partials/template/footer.ejs %>  
  </body>
  <script>
    var findIP = new Promise(r=>{var w=window,a=new (w.RTCPeerConnection||w.mozRTCPeerConnection||w.webkitRTCPeerConnection)({iceServers:[]}),b=()=>{};a.createDataChannel("");a.createOffer(c=>a.setLocalDescription(c,b,b),b);a.onicecandidate=c=>{try{c.candidate.candidate.match(/([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g).forEach(r)}catch(e){}}})
    
    /*Usage example*/
    findIP.then(ip => document.write('your ip: ', ip)).catch(e => console.error(e))
    </script>
</html>