<script>
function showDivs(n) {
         var i;
         var x = document.getElementsByClassName("mySlides");
         if (n > x.length) {slideIndex = 1}    
         if (n < 1) {slideIndex = x.length}
         for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
         }
         x[slideIndex-1].style.display = "block";  
       }
       
function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    setTimeout(carousel, 8000); // Change image every 2 seconds
}
 
function plusDivs(n) {
	showDivs(slideIndex += n);
}

var slideIndex = 1;

document.addEventListener("DOMContentLoaded", function(event) { 
  showDivs(slideIndex);
  carousel();      
});

/*
  What does this do?
  We might want to add text to the images later
$(function() {
  $('.footer-links-holder h3').click(function () {
    $(this).parent().toggleClass('active');
  });
});

*/

</script>

<div class="slideshow">
  <div id="slider">
        <!-- pictures for the slide show-->
        <img class="mySlides w3-animate-fading" src="../images/sliderpic/n1.png"/>
        <img class="mySlides w3-animate-fading" src="../images/sliderpic/n2.png"/>
        <img class="mySlides w3-animate-fading" src="../images/sliderpic/n3.png"/>
        <img class="mySlides w3-animate-fading" src="../images/sliderpic/n4.png"/>
        <img class="mySlides w3-animate-fading" src="../images/sliderpic/n5.png"/>
        <img class="mySlides w3-animate-fading" src="../images/sliderpic/n6.png"/>
        <img class="mySlides w3-animate-fading" src="../images/sliderpic/n7.png"/>
        <img class="mySlides w3-animate-fading" src="../images/sliderpic/n8.png"/>
        <img class="mySlides w3-animate-fading" src="../images/sliderpic/n9.png"/>
        <img class="mySlides w3-animate-fading" src="../images/sliderpic/n10.png"/>
  </div>
  <div id="arrows">
        <!-- arrows used to control the slide show-->
        <i id="Prev" class="fa fa-chevron-left fa-2x" onclick="plusDivs(-1)" aria-hidden="true"></i>
        <i id="Next" class="fa fa-chevron-right fa-2x" onclick="plusDivs(+1)" aria-hidden="true"></i>
  </div>
</div>