<script>

var slideIndex = 1;

document.addEventListener("DOMContentLoaded", function(event) { 
  showDivs(slideIndex);
  carousel();      
});

function plusDivs(n) {
	showDivs(slideIndex += n);
}

function showDivs(n) {

         var i;   //iteration variable
         var  image_control = document.getElementsByClassName("mySlides");
         var text_control = document.getElementsByClassName("text");
         if (n > image_control.length) {slideIndex = 1}    

         if (n < 1) {slideIndex = x.length}
         for (i = 0; i < image_control.length; i++) {
            image_control[i].style.display = "none";  
            text_control[i].style.display = "none";
         }
         image_control[slideIndex-1].style.display = "block";  
         text_control[slideIndex-1].style.display = "block";  
       }
       
function carousel() {
    var i;
    var image_control = document.getElementsByClassName("mySlides");
    var text_control = document.getElementsByClassName("text");
    for (i = 0; i < image_control.length; i++) {
      image_control[i].style.display = "none"; 
      text_control[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > image_control.length) {slideIndex = 1} 
    image_control[slideIndex-1].style.display = "block"; 
    text_control[slideIndex-1].style.display = "block"; 
    setTimeout(carousel, 8000); // Change image every 2 seconds
}
</script>

<div class="slideshow">
  <div id="slider">
        <% for (var i=0;i< translation.sliderImage.length;i++) { %>
        
        	<img class="mySlides w3-animate-fading" src= ../images/sliderpic/<%= translation.sliderImage[i].name %> />
        	<div class="text"><font color="red"><%= translation.sliderImage[i].description %></font></div>
        <% } %>
        <div class="background">  
  </div>
  <div id="arrows">
        <!-- arrows used to control the slide show-->
        <i id="Prev" class="fa fa-chevron-left fa-2x" onclick="plusDivs(-1)" aria-hidden="true"></i>
        <i id="Next" class="fa fa-chevron-right fa-2x" onclick="plusDivs(+1)" aria-hidden="true"></i>
  </div>
  
</div>
