<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
      <header>
          <!-- smiling lady picture-->
          <div class="jumbotron hidden-xs">
          </div>
        </header>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">

          <h1 class="feedback-form-title">Survey</h1>
          
          <form class="feedback-form" enctype="multipart/form-data" method="post">

            <div class="form-group">
              <label for="feedback-form-name">First Name</label>
              <input type="text", class="form-control" placeholder="Enter your firstname" name="firstname">
            </div>

            <div class="form-group">
              <label for="feedback-form-title">Last Name</label>
              <input type="text" class="form-control" placeholder="Enter your lastname" name="lastname">
            </div>

            <div class="form-group">
                <label for="feedback-form-title">Email</label>
                <input type="email" class="form-control" placeholder="Enter your Email" name="email" >
            </div>

            <div class="form-group">
                <label for="feedback-form-title">Phone</label>
                <input type="text" class="form-control" name="phone" placeholder="Enter your Phone number">
            </div>

            <div class="form-group">
                <label for="feedback-form-title"> Address</label><br>
                <p>Street Address
                    <span><input type="text" class="form-control" name="Address" placeholder="Address"></span> 
                
                </p>
                <p>State/Province
                    <span><input type="text" class="form-control" name="State" placeholder=""></span> 
                </p><p>Postal Code
                
                    <span><input type="text" class="form-control" name="Postal" placeholder=""></span> 
                    </span>
                </p>
    </div> 
            <div class="form-group">
              <label for="feedback-form-title">DOB</label>
              <input type="date" class="form-control" name="DOB" placeholder="MMDDYYYY">
            </div>
            <div class="form-group">
            <label for="feedback-form-title">Elementary School </label>
            <p>School Name
                <span><input type="text" class="form-control" name="eschoolname" placeholder="Name"></span> 
            
            </p>
            <p>Start Date
                <span><input type="date" class="form-control" name="eschoolstart" placeholder="MMDDYYYY"></span> 
            </p><p>End Date
            
                <span><input type="date" class="form-control" name="eschoolend" placeholder="MMDDYYYY"></span> 
                </span>
            </p>
            </div>

            <div class="form-group">
                <label for="feedback-form-title">Middle School </label><br>
                <p>School Name
                    <span><input type="text" class="form-control" name="mschoolname" placeholder="Name"></span> 
                
                </p>
                <p>Start Date
                    <span><input type="date" class="form-control" name="mschoolstart" placeholder="MMDDYYYY"></span> 
                </p><p>End Date
                
                    <span><input type="date" class="form-control" name="mschoolend" placeholder="MMDDYYYY"></span> 
                    </span>
                </p>
            </div>

            <div class="form-group">
                    <label for="feedback-form-title">High School </label><br>
                    <p>School Name
                        <span><input type="text" class="form-control" name="hschoolname" placeholder="Name"></span> 
                    
                    </p>
                    <p>Start Date
                        <span><input type="date" class="form-control" name="hschoolstart" placeholder="MMDDYYYY"></span> 
                    </p><p>End Date
                    
                        <span><input type="date" class="form-control" name="hschoolend" placeholder="MMDDYYYY"></span> 
                        </span>
                    </p>
            </div>

            <div class="form-group">
                        <label for="feedback-form-title"> College</label><br>
                        <p>School Name
                            <span><input type="text" class="form-control" name="cschoolname" placeholder="Name"></span> 
                        
                        </p>
                        <p>Start Date
                            <span><input type="date" class="form-control" name="cschoolstart" placeholder="MMDDYYYY"></span> 
                        </p><p>End Date
                        
                            <span><input type="date" class="form-control" name="cschoolend" placeholder="MMDDYYYY"></span> 
                            </span>
                        </p>
            </div>        
            
            
            <div class="form-group">
                <label for="feedback-form-message">Comments</label>
                <textarea type="text" placeholder="Enter your message, then hit the submit"  class="form-control" name="feedback-form-comments" rows="6"></textarea>
            </div>
            
            <div class="form-group">
                <label for="feedback-form-title">PassPort Upload</label>
                <input type="file" name="photo" id="feedback-form-passport" accept=".jpg, .jpeg, .png">
            </div>
            
            <input type="submit" class="btn btn-default pull-right">
          </form>
          
        </div><!-- primary -->
        <aside class="col-sm-8">
          <div class="maincontent feedback">
              <h2 class="article-title"></h2>
              <div class="feedback-messages"></div>
          </div>
        </aside><!-- secondary -->
      </div>
      
    </div><!-- container -->
    <% include partials/template/jsdefaults.ejs %>
    <% include partials/template/header.ejs %>
    <% include partials/template/footer.ejs %>
  </body>
</html>
